nav{
    display: block;
}

body{
    background-color: #3e4444;
    text-align: center;
}

/*#### Nav Stylimg ####*/
nav{
    width: 100%;
    margin: auto;
}

nav ul{
    overflow: hidden;
    margin: auto;
}

ul.navigation li{
    list-style: none;
    float: left;
}

ul.navigation li a{ 
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;
}


/* ul.navigation li a:hover{
    background-color: black;
} NOT SURE */

/*#### Main Header Style ####*/

.main{
    margin: 400px;
}

.headline {
    color: #fff;
    margin: auto;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}

.homepage{
    color: #fff;
    font-size: 20px;
}

.rowEducation {
    padding-top: 90px;
    padding-bottom: 72px;   
}

::before{
    content: " ";
    display: table;
}

h1 span{ 
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    float: left;
    color: #fff;
}

h3{
    font: 20px 'opensans-bold', sans-serif;
    color: #fff;
}

.info .date{
    color: #fff;
}

/**About me **/

h2{
    font: bold;
    color: #fff;
}
p {
    color: #fff;
}

.challenge{
    color: black;
    font: bold;
    text-decoration: none;
    line-height: inherit;
}